<template>
  <div class="pt20">
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-1 col-md-1" />
      <div class="col-xs-12 col-sm-12 col-md-10" v-if="visibleShippingAddressList">
        <div class="row customer-address" v-if="getallAddresses.length > 0 && isLoggedIn">
          <div class="col-xs-12 col-md-6 customer-address" v-for="address of getallAddresses" :key="address.id">
            <div class="shipping-summary" :class="{ active: address.id === activeItem }" @click="updateAddress(address)">
              <div>
                <p class="full-name">
                  {{ address.firstname }} {{ address.lastname }}
                </p>
                <p v-if="address.company">
                  {{ address.company }}
                </p>
                <p>
                  {{ address.street[0] }}
                  <span v-if="address.street[1]"> {{ address.street[1] }}</span>
                </p>
                <p>
                  {{ address.city }} {{ address.postcode }}
                </p>
                <p>
                  <span v-if="address.region">{{ address.region.region }}, </span>
                  {{ getCountryName(address.country_id) }}
                </p>
                <p class="telephone" v-if="address.telephone">
                  {{ address.telephone }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb10" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-11 col-sm-9 col-md-10">
        <base-checkbox
          v-if="currentUser && getallAddresses.length"
          class="col-xs-12 mb10"
          id="customAddressCheckbox"
          @change.native="customShippingAddress()"
          v-model="shippingAddressBook"
        >
          {{ $t("Ship to custom address") }}
        </base-checkbox>
      </div>
    </div>
  </div>
</template>

<script>
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { Shipping } from '@vue-storefront/core/modules/checkout/components/Shipping'
import { mapState, mapGetters } from 'vuex'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'

export default {
  'name': 'ShippingAddress',
  mixins: [Shipping],
  components: {
    BaseCheckbox
  },
  data () {
    return {
      customer: {},
      activeItem: null,
      shippingAddressBook: false,
      visibleShippingAddressList: true
    };
  },
  computed: {
    storeView () {
      return currentStoreView()
    },
    ...mapState({
      currentUser: state => state.user.current
    }),
    ...mapGetters({
      isLoggedIn: 'user/isLoggedIn'
    }),
    getallAddresses () {
      let { current } = this.$store.state.user
      return current ? current.addresses : []
    },
    getDefaultAddress () {
      return this.getallAddresses.find(x => x.default_shipping === true)
    }
  },
  methods: {
    getCountryName (country = this.shipping.country) {
      for (let i = 0; i < this.countries.length; i++) {
        if (this.countries[i].code === country) {
          return this.countries[i].name
        }
      }
      return ''
    },
    updateAddress (address) {
      if (address) {
        this.activeItem = address.id;
        this.$parent.shipping = {
          firstName: address.firstname,
          lastName: address.lastname,
          streetAddress: address.street[0] ? address.street[0] : '',
          apartmentNumber: address.street[1] ? address.street[1] : '',
          city: address.city,
          state: (address.region && address.region.region) ? address.region.region : address.state,
          country: address.country_id,
          zipCode: address.postcode,
          phoneNumber: address.telephone,
          shippingMethod: this.checkoutShippingDetails.shippingMethod,
          shippingCarrier: this.checkoutShippingDetails.shippingCarrier
        }
      }
    },
    customShippingAddress () {
      if (this.shippingAddressBook) {
        this.visibleShippingAddressList = false
      } else {
        this.visibleShippingAddressList = true
      }
      this.$bus.$emit('visible-shipping-address-form', this.shippingAddressBook)
    }
  },
  mounted () {
    this.updateAddress(this.getDefaultAddress)
    if (!this.isLoggedIn) {
      this.$bus.$emit('visible-shipping-address-form', true)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $bg-secondary: color(secondary, $colors-background);
  $color-tertiary: color(tertiary);
  $color-secondary: color(secondary);
  $color-error: color(error);
  $color-white: color(white);
  $color-black: color(black);
  $silver: color(silver);

  .customer-address {
    margin-bottom: 20px;
    &.row {
      margin-bottom: 0;
    }
  }
  .customer-address{
  .shipping-summary{
    border: 1px solid $silver;
    min-height: 180px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
    &.active{
      border: 1px solid $color-black;
    }
    h4{
      padding: 0 0 5px 0;
      font-weight: 500;;
    }
    @media (max-width:600px) {
      min-height: inherit;
    }
    .shipping-details{
      width: 100%;
    }
  }
}
</style>
